body {
    background-color: rgb(240, 244, 248);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
}


.cell:hover {
    background-color: rgb(208, 7, 7);
}

.leaderboard {
    width: 300px;
}

#best-times {
    list-style-type: none;
    padding: 0;
}

#best-times li {
    background: rgb(204, 231, 255);
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
}

body {
    background-image: url('data/imagen.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
.cell {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
}

.cell:hover {
    transform: scale(1.1);
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
